h1 {
    text-align: center;
}

#bloc1 {
    text-align: left;
}

#personne{
    background-color: rgba(237, 236, 254, 1);
    display: flex;
}

img{
    width:100px;
    clip-path:ellipse(50% 50%);
}

#nom, #prenom {
    display: inline;
}